* {
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
} 

body {
    background-color: #607D8B;
    font-size: 16px;
}

.introduction {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    height: auto;
    color: white;
    background-color:#90A4AE;
    padding: 20px 20px 0 20px;
  }
  
  .introduction-header {
    padding-top: 10px;
    color:#607D8B;
  }

  .introduction-text {
    font-size: 3rem;
  }

  .description {
    margin-top: 10px;
    font-weight: bold;
  }

  .quote {
    margin-top: 20px;
    font-size: 50%;
    color:#607D8B;
  }

  .author {
    font-size: 2.5rem;
  } 

  .cem-image {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .social-icons {
    font-size: 3rem;
    width: 100px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  
@media (min-width: 1550px) {
  .introduction {
    grid-template-columns: 1fr 2fr 1fr;
    text-align: left;
  }

  .introduction-header {
    font-size: 1rem;
  }

  .introduction-text {
    font-size: 2.5rem;
    position: relative;
    right: 130px;
  }

  .quote {
    font-size: 1.2rem;
  }

  .author .author-name {
    font-size: 3.5rem;
    position: relative;
    left: 70px;
    align-self: flex-end;
  }

  .author .social-icons {
    position: relative;
    left: 70px;
    
  }

  .cem-image {
    position: relative;
    right: 200px;
    margin-top: 0;
    margin-right: 20px;
  }
}

@media (min-width:1049px) and (max-width: 1549px) {
  .introduction {
    grid-template-columns: 1fr 2fr 1fr;
    text-align: left;
  }

  .introduction-header {
    font-size: 1rem;
  }

  .introduction-text {
    font-size: 1.7rem;
    position: relative;
    right: 45px;
  }

  .quote {
    font-size: 1.2rem;
  }


  .author {
    font-size: 3rem;
    position: relative;
    left: 50px;
  }

  .cem-image {
    position: relative;
    right: 70px;
    margin-top: 0;
    margin-right: 20px;
  }
}

@media (min-width:601px) and (max-width: 1048px) {
  .introduction {
    grid-template-columns: 1fr 2fr 1fr;
    text-align: left;
  }

  .introduction-header {
    font-size: 0.9rem;
  }

  .introduction-text {
    font-size: 1.2rem;
    position: relative;
    right: 25px;
  }

  .quote {
    font-size: 0.9rem;
  }

  .author {
    font-size: 1.5rem;
    position: relative;
    left: 20px;
  }

  .cem-image {
    position: relative;
    right: 50px;
    margin-top: 0;
    margin-right: 20px;
    
  }
}

@media (max-width: 600px) {
  .introduction-header {
    font-size: 2.5rem;
  }

  .introduction-text {
    font-size: 1.3rem;
  }

  .quote {
    font-size: 0.9rem;
  }

  .author {
    font-size: 2.8rem;
  }
}

@media (max-width: 400px) {
  .introduction-header {
    font-size: 1rem;
  }

  .introduction-text {
    font-size: 1.5rem;
  }

  .quote {
    font-size: 1rem;
  }

  .author {
    font-size: 2rem;
  }

  .social-icons {
    font-size: 2rem;
  }
}


      